src/pip/xml-resources/axis2/META-INF/PIP.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:pip="urn:hieos:policy:pip" targetNamespace="urn:hieos:policy:pip"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">
            This is the schema definition for the HIEOS Policy Information Point (PIP) Service.
        </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="GetConsentDirectivesRequest">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Element that holds the request for consent directives for a given patient.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="PatientId" type="xsd:string" >
                    <xsd:annotation>
                        <xsd:documentation>PatientId must be in CX format as in this example: 7347efa58b364ec^^^&amp;1.3.6.1.4.1.21367.2005.3.7&amp;ISO</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="GetConsentDirectivesResponse">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Element that holds the response for consent directives for a given patient.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ConsentDirectives" type="pip:ConsentDirectivesType" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="ConsentDirectivesType">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">
                Type definition for holding the consent directives for a given patient.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PatientId" type="xsd:string">
                <xsd:annotation>
                    <xsd:documentation>PatientId must be in CX format as in this example: 7347efa58b364ec^^^&amp;1.3.6.1.4.1.21367.2005.3.7&amp;ISO</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Status" >
                <xsd:annotation>
                    <xsd:documentation>Status of the patient.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Active" />
                        <xsd:enumeration value="Inactive" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ConsentRules" type="pip:ConsentRulesType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Holds list of ConsentRules applicable for the patient.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ConsentOptions" type="pip:ConsentOptionsType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Holds list of ConsentOptions applicable for the patient.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConsentRulesType">
        <xsd:annotation>
            <xsd:documentation>Type definition for a list of ConsentRuleTypes.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="ConsentRule" type="pip:ConsentRuleType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConsentRuleType">
        <xsd:annotation>
            <xsd:documentation>Type definition for a ConsentRule. All attributes
				with the exception of "action" are optional. Lists can be
                                formed by including ConsentRules with the same attribute
                                repeated (but with different attribute values). Any combination of
				attributes can be used and will be input into policy evaluation
				performed by the Policy Decision Point (PDP). This type can
				be extended to include additional attributes.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="action" use="required">
            <xsd:annotation>
                <xsd:documentation>Determines whether the rule should permit or deny access.</xsd:documentation>
            </xsd:annotation>
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="permit"></xsd:enumeration>
                    <xsd:enumeration value="deny"></xsd:enumeration>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="purposeofuse" type="xsd:string"
			use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates the purpose upon which the patient is permitting or denying access.

                    Attribute value should be in HL7v2 CNE format as
					in these examples:
					1) TREATMENT
					2) TREATMENT^^2.16.840.1.113883.3.18.7.1
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="organization" type="xsd:string"
			use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates the "organization" upon which the patient is permitting or denying access.

                   Attribute value should be in HL7v2 XON format (id
					portions only) as
					in these examples:
					1) ^^^^^^^^^1.2.3.4.5.6.7.8.9.1789.45
					2) ^^^^^&amp;1.2.3.4.5.6.7.8.9.1789&amp;ISO^^^^45
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="individual" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates the "individual" upon which the patient is permitting or denying access.

                    Attribute value should be in HL7v2 XCN format (id
					portions only) as
					in these examples:
					1) 1.2.36.1.2001.1003.0.8003619166667440
					2) 8003619166667440^^^^^^^^1.2.36.1.2001.1003.0
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="role" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates the "role" upon which the patient is permitting or denying access.

                    Attribute value should be in HL7v2 CNE format as
					in these examples:
					1) DOCTOR
					2) DOCTOR^^2.16.840.1.113883.3.18.7.1
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="documenttype" type="xsd:string"
			use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates the "document type" upon which the patient is permitting or denying access.
                    
                    Attribute value should be in HL7v2 CNE format as in this example: 34108-1^^LOINC
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="documentid" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates the "document id" upon which the patient is permitting or denying access.
                
                    Attribute value should be in OID format as in this example: 129.6.58.92.2146461
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="homecommunityid" type="xsd:string"
			use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates the "home community id" upon which the patient is permitting or denying access.

                        Attribute value should be in urn:oid format as in
					this example: urn:oid:1.3.6.1.4.1.21367.13.3070
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="confidentialitycode" type="xsd:string"
			use="optional">
            <xsd:annotation>
                <xsd:documentation>Indicates the "confidentiality code" upon which the patient is permitting or denying access.
                        
                        Attribute value should be in HL7v2 CNE format as in this example: R^^2.16.840.1.113883.5.2
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:anyAttribute processContents="skip">
            <xsd:annotation>
                <xsd:documentation>Allow additional "unspecified" attributes.</xsd:documentation>
            </xsd:annotation>
        </xsd:anyAttribute>
    </xsd:complexType>

    <xsd:complexType name="ConsentOptionsType">
        <xsd:annotation>
            <xsd:documentation>Type definition for a list of ConsentOptionTypes.  Currently, this is
            a list of ConsentOption elements containing strings.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="ConsentOption" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
