src/pip/xml-resources/axis2/META-INF/PIP.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2011 rel. 3 (x64) (http://www.altova.com) by Bernie Thuman (Vangent, Inc.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pip="urn:hieos:policy:pip" targetNamespace="urn:hieos:policy:pip" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
            This is the schema definition for the HIEOS Policy Information Point (PIP) Service.
        </xsd:documentation>
	</xsd:annotation>
	<xsd:element name="GetConsentDirectivesRequest">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
            TBA
            </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PatientId" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
     <hieos-consent:ConsentDirectives xmlns:hieos-consent="urn:hieos:policy:1.0:consent">
       <hieos-consent:AllowedOrganizations>
         <hieos-consent:Organization>1.1</hieos-consent:Organization>
         <hieos-consent:Organization>1.2</hieos-consent:Organization>
       </hieos-consent:AllowedOrganizations>
       <hieos-consent:SensitiveDocumentTypes>
         <hieos-consent:DocumentType code="1" codeSystem="1"/>
         <hieos-consent:DocumentType code="2" codeSystem="1"/>
       </hieos-consent:SensitiveDocumentTypes>
     </hieos-consent:ConsentDirectives>
  -->
	<xsd:element name="GetConsentDirectivesResponse">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
           TBD
            </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ConsentDirectives" type="pip:ConsentDirectivesType" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ConsentDirectivesType">
		<xsd:sequence>
			<xsd:element name="AllowedOrganizations" type="pip:OrganizationsType" minOccurs="0"/>
			<xsd:element name="BlockedOrganizations" type="pip:OrganizationsType" minOccurs="0"/>
			<xsd:element name="BlockedIndividuals" type="pip:IndividualsType" minOccurs="0"/>
			<xsd:element name="AllowedRoles" type="pip:RolesType" minOccurs="0"/>
			<xsd:element name="AllowedPurposeOfUse" type="pip:PurposeOfUseTypes" minOccurs="0"/>
			<xsd:element name="SensitiveDocumentTypes" type="pip:SensitiveDocumentTypes" minOccurs="0"/>
			<xsd:element name="SensitiveDocumentAccessList" type="pip:SensitiveDocumentAccessTypes" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="alwaysAuthorize" type="xsd:boolean" default="false"/>
	</xsd:complexType>
	<xsd:complexType name="SensitiveDocumentAccessType">
		<xsd:sequence>
			<xsd:element name="Organization" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Individual" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SensitiveDocumentAccessTypes">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="SensitiveDocumentAccess" type="pip:SensitiveDocumentAccessType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrganizationsType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Organization" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndividualsType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Individual" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RolesType">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Role" type="pip:CodeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PurposeOfUseTypes">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="PurposeOfUse" type="pip:CodeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SensitiveDocumentTypes">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="DocumentType" type="pip:CodeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CodeType">
		<xsd:attribute name="code" type="xsd:string" use="required"/>
		<xsd:attribute name="codeSystem" type="xsd:string" use="required"/>
		<xsd:attribute name="codeSystemName" type="xsd:string" use="optional"/>
		<xsd:attribute name="displayName" type="xsd:string" use="optional"/>
	</xsd:complexType>
</xsd:schema>
